.DishForms {
    width: 70%;
    float: right;
    margin-bottom: 10px;
}

.Loading {
    /* background-color: aquamarine; */
    padding: 16px;
    text-align: center;
}

.DishForms h2{
    /* background-color: aquamarine; */
    padding: 16px;
    text-align: center;
}

.DishForms h2:hover{
    /* background-color: #1E90FF; */
    border-radius: 5px;
}

.DishForms form{
    padding: 16px;
}